<table class="table">
  <tbody>
    <tr class="tr">
      <th>所在地</th>
      <td>〒615-8286<br>京都府京都市西京区松尾神ヶ谷町56<br>アクセスマップは<a href="https://goo.gl/maps/mY37NWNLnYJ2" target="_blank">こちら</a></td>
    </tr>
    <tr class="tr">
      <th>電話番号</th>
      <td><a href="tel:075-391-3631">075-391-3631</a>
        <ul class="is-receptiontime">
          <li>法要や参拝対応により、自動メッセージにて対応する場合がございます。予めご了承ください。</li>
        </ul>
      </td>
    </tr>
    <tr class="tr special">
      <th>主要<br>アクセス<br>方法</th>
      <td>
        <p class="bold">京都駅から</p>
        <ul>
          <li>京都バス(73系統)で約60分「苔寺・すず虫寺」下車、徒歩3分</li>
          <li>タクシーで約20分(2,500〜3,000円程度)</li>
        </ul>
        <p class="bold">嵐山方面から</p>
        <ul>
          <li>京都バス(63または73系統)約15分「苔寺・すず虫寺」下車、徒歩3分</li>
          <li>タクシーで約10分(1,200円程度)</li>
        </ul>
        <p class="bold">大阪方面から</p>
        <ul>
          <li>阪急電鉄京都線で約35分「桂駅」下車、タクシーで約12分(1,200円程度)</li>
        </ul>
      </td>
    </tr>
    <tr class="tr">
      <th>駐車場について</th>
      <td>境内には駐車場はございません。周辺地域にコインパーキングはございますが、時期によっては混雑致しますので、可能な限り公共交通機関やタクシーでお越しいただくことをおすすめしております。</td>
    </tr>
  </tbody>
</table>