<div class="boss">
  <div class="explain">
    <ul>
      <li>お問い合わせいただく際は、よくある質問を予めご確認ください。
      <li>営業時間は平日9:00〜18:00です。土日祝日等、営業時間外でのご対応はできかねますので予めご了承ください
      <li>3営業日以内に返信がない場合、Mr. CHEESECAKEからお送りしたメールを受信できていない可能性がございます。迷惑メールフォルダのご確認と、"support@mr-cheesecake.zendesk.com"からのメールを受信可能な状態へご設定ください。
    </ul>
    <form class="form">
      <h1 class="list">申し込み欄</h1>
      <input type="text" class="form-control" placeholder="first_name" required="">
      <input type="text" class="form-control" placeholder="last_name" required="">
      <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <input type="text" class="form-control" placeholder="人数" required="">
      <input type="date" class="form-control" required="">
      <button class="form_btn" type="submit">申し込む</button>
    </form>
  </div>
</div>