<table class="table">
  <tbody>
    <tr class="tr">
      <th>西芳寺の<br>参拝について</th>
      <td>通常期（春、梅雨、夏、秋）については以下の通り参拝を実施しており、冬期には冬の参拝を実施しております。<br><span class="red">
          ※毎年8月14日と12月30日、12月31日は開門致しません。<br>※2021年の冬の参拝の日程が確定しました</span></td>
    </tr>
    <tr class="tr">
      <th>日時</th>
      <td>原則1日1回の開門です。<br>例年、7月から9月は午前10時を中心とした午前の部、<br>それ以外の月は午後1時を中心とした午後の部となっております。<br><span class="red">
          ※上記は予告なく変更される場合がございますので、時間の指定は承っておりません。</span></td>
    </tr>
    <tr class="tr">
      <th>参拝冥加料</th>
      <td>お一人様<span class="space">3,000円以上<br></span><span class="red astarisk">
          2019年6月1日より、参拝は中学生以上の方とさせていただきます。<br>※乳幼児を含み，小学生以下の方の同伴はご遠慮願います。<br>※年に数回、お子さま参拝を実施しております。詳細は<a class="red" href="children.html">こちら</a>をご確認ください。</span></td>
    </tr>
    <tr class="tr">
      <th>内容</th>
      <td>本堂での参拝の後、庭園を拝観していただきます。<br><span class="red astarisk">※本堂での参拝は、延命十句観音経の写経です。<br>※写経用紙に薄く書かれた経文をおなぞりいただく形の写経ですので、初めての方でも簡単に体験いただけます。</span></td>
    </tr>
    <tr class="tr">
      <th>総所要時間</th>
      <td>個人差はございますが、約60分です。</td>
    </tr>
    <tr class="tr">
      <th>本堂内の<br>椅子席に<br class="add-line">ついて</th>
      <td>
        若干数のみ椅子席のご用意もございますが、事前の予約は受け付けておりません。<br>尚、本堂内では正座ではなく、足を楽にされて座っていただいても構いません。<br><span class="red astarisk">
          ※椅子席には硯の用意がありませんので、細筆ではなく筆ペンをご持参ください。</span></td>
    </tr>
  </tbody>
</table>