<div class="contents">
  <div class="upper">
    <h2 class="inner_text">〜西芳寺の魅力〜</h2>
  </div>
  <div class=" center">
    <h3 class="title">西芳寺とは</h3>
    <p class="detail">京都市西部に位置する臨済宗単立寺院で、山号を洪隠山と称します。<br>
      境内を120余種の苔が覆っていることから、「苔寺」とも呼ばれています。
    </p>
  </div>
  <div class="bottom">
    <h3 class="title">西芳寺の歴史</h3>
    <p class="detail history">遡ること1,300年前の奈良時代、聖武天皇の詔により、行基菩薩が畿内四十九院の法相宗の寺として開山しました。開山前の飛鳥時代、西芳寺があった土地には聖徳太子の別荘があったといわれております。
    </p>
    <p class="detail history">
      平安時代初期には弘法大師が一時住し、鎌倉時代初期には法然上人が浄土宗に改宗。兵乱による荒廃の後、松尾大社の宮司藤原親秀の招請で、暦応2年(1339年)に当時の高僧であり作庭の名手でもあった夢窓國師が禅寺として再興しました。
    </p>
    <p class="detail history">
      足利義満や義政をはじめ、西芳寺を訪れて坐禅に励んだ者も多く、後に開山される金閣寺や銀閣寺など、室町時代を代表する庭園の原型になったといわれております。35,000平方メートルに達する庭園は、国の特別名勝及び史跡に指定されており、平成6年(1994年)にはUNESCOの世界文化遺産「古都京都の文化財」の1つにも登録されました。現在は境内一面を覆う苔の美しさから、通称「苔寺」としても親しまれております。
    </p>
  </div>
  <div class="koke_img">
    <%= image_tag  "koke.jpeg",class: "koke" %>
    <%= image_tag  "koke2.jpeg" ,class: "koke"%>
  </div>
  <div class="reserve">
    <div class="backimg"></div>
    <div class="reserve_btn">
      <%= link_to "事前申し込みはこちら", "#",class: "btn" %>
    </div>
  </div>
</div>